@font-face {
  font-family: 'Roboto-Light';
  src: url('./fonts/Roboto-Light.woff') format('woff');
  src: url('./fonts/Roboto-Light.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto-Regular";
  src: url('./fonts/Roboto-Regular.woff') format('woff');
  src: url('./fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto-Medium";
  src: url('./fonts/Roboto-Medium.woff') format('woff');
  src: url('./fonts/Roboto-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto-Bold";
  src: url('./fonts/Roboto-Bold.woff') format('woff');
  src: url('./fonts/Roboto-Bold.woff2') format('woff2');
}

html, body{
  height: 100%;
}
body {
  background: white;
  margin: 0;
  padding: 0;
  font-family: "Roboto-Regular";
  height: 100%;
}
*, :after, :before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
.center-place{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
#app{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}
#app a{
  text-decoration: none;
  color:#0077B5;
}